h1 {
  color: cornflowerblue;
  text-align: center;
}
.container {
  display: block;
  text-align: center;
  border: 5px solid lightpink;
  width: 500px;
  height: 500px;
}
#btn {
  background-color: lightpink;
  color: mediumpurple;
  text-align: center;
}
.todos {
  color: palevioletred;
  font-size: 30px;
}
